@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background: #ffffff;    /* Fondo blanco */
  --color-surface: #f4f4f5;       /* Fondo de tarjetas (gris muy claro) */
  --color-text-primary: #111827;  /* Texto casi negro */
  --color-text-secondary: #6b7280;/* Texto gris */
  --color-border: #e5e7eb;       /* Bordes */

  color-scheme: light;
}


.dark {
  --color-background: #1e1e1e;    /* Fondo Gemini */
  --color-surface: #2d2d2d;       /* Fondo de tarjetas (gris oscuro) */
  --color-text-primary: #e5e7eb;  /* Texto gris claro */
  --color-text-secondary: #9ca3af;/* Texto gris */
  --color-border: #374151;       /* Bordes */

  color-scheme: dark;
}

body {
  @apply bg-background text-primary;
  
  /* Transición suave al cambiar de tema */
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}